.main-menu-wrap
  .main-menu.container
    .row.relative
      %h4.col-sm-4.menu-logo.pull-left
        = link_to 'Stephen and Alex', '/'
      .pull-right.text-right
        %ul.menu-links
          %li
            = link_to 'Our Story', '/story', { :class => ( 'active' if params[:action] == 'story' ) }
          %li
            = link_to 'Accommodations', '/accommodations', { :class => ( 'active' if params[:action] == 'accommodations' ) }
          %li
            = link_to 'Registry', '/registry', { :class => ( 'active' if params[:action] == 'registry' ) }
          %li.last
            = link_to 'RSVP', '/rsvp', { :class => ( 'active' if params[:action] == 'rsvp' ) }
        %button.fa.fa-navicon.visible-xs-block.right.menu-toggle