.header-wrap
  = image_tag "us-anniversary.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center.header-text
        %h1.title-text
          Gift Registry

.page-wrap
  .page-content.container
    .row
      .col-sm-6.col-sm-offset-3
        %h3.text-center
          We are registered at The Bay, Bed Bath and Beyond, and Cabela's.
    .row
      .col-sm-8.col-sm-offset-2
        .col-sm-6.text-center
          = image_tag "the_bay_logo.jpg"
          %br
          %a{:href => 'http://giftregistry.hbc.com/grworks/prj/generic_online/jsp/common/marcole_grw.jsp?rid=4', :target => '_blank'} View The Bay registry page.
          %br
          %em.text-muted Search for Alex Pankratz, August 2015
          
        .col-sm-6.text-center
          = image_tag "bed_bath_and_beyond_logo.jpg"
          %br
          %a{:href => 'http://www.bedbathandbeyond.ca/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542234773&pwsurl=', :target => '_blank'} View the Registry
    .row
      .col-sm-8.col-sm-offset-2
        .col-sm-6.col-sm-offset-3.text-center
          = image_tag "cabelas_logo.jpg"
          %em.text-muted Registries for Cabela's can only be checked in store





- # if user_signed_in?
= # link_to "Admin", '/admin'
- # else
= # link_to "Login", new_user_session_path