.header-wrap
  = image_tag "header-image-temp.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1.title-text
          Gift Registry

.page-wrap
  .page-content.container
    .row
      .col-sm-6.col-sm-offset-3
        %p.text-center
          Registry info coming soon!
= #    .row
= #      .col-sm-8.col-sm-offset-2
= #        .col-sm-6.text-center
= #          = image_tag "the_bay_logo.jpg"
= #        .col-sm-6.text-center
= #          = image_tag "bed_bath_and_beyond_logo.jpg"



- # if user_signed_in?
= # link_to "Admin", '/admin'
- # else
= # link_to "Login", new_user_session_path