.header-wrap
  = image_tag "header-image-temp.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1.title-text
          RSVP

.rsvp-wrap
  .rsvp-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h3 RSVP Online

        = form_for [@rsvp] do |f|
          = f.label :name
          = f.text_field :name
          = f.label :status
          = collection_radio_buttons(:rsvp, :status, Rsvp::RSVP_STATUSES, :to_s, :to_s)
          = f.submit 'RSVP'




- # if user_signed_in?
= # link_to "Admin", '/admin'
- # else
= # link_to "Login", new_user_session_path