.header-wrap
  = image_tag "header-image-temp.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1.title-text
          RSVP

.rsvp-wrap
  .rsvp-content.container
    .row
      .col-sm-4.col-sm-offset-4.text-center
        %h3 RSVP Online

        = form_for [@rsvp], :html => { :class => 'form-rsvp' } do |f|
          .rsvp-name
            = f.label :name
            = f.text_field :name
          .rsvp-radios
            = f.label :status_accept do
              = f.radio_button :status, 'accept', :value => 'Accepted'
              I will celebrate with you in person
            = f.label :status_decline do
              = f.radio_button :status, 'decline', :value => 'Declined'
              I will celebrate with you in spirit
            = f.label :status_decline_2 do
              = f.radio_button :status, 'decline_2', :value => 'Declined'
              %span.small (I just don't really want to celebrate at all...)

          .rsvp-textarea
            = f.label :guests do
              Names in Party
            = f.text_area :guests

          .rsvp-textarea
            = f.label :diet do
              Dietary Needs
            = f.text_area :diet

          .rsvp-textarea
            = f.label :songs do
              I'll dance if the DJ plays:
            = f.text_area :songs

          = f.submit 'RSVP', :class => 'btn rsvp-submit'



- # if user_signed_in?
= # link_to "Admin", '/admin'
- # else
= # link_to "Login", new_user_session_path