.header-wrap
  = image_tag "header-image-temp.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1.title-text
          RSVP

.rsvp-wrap
  .rsvp-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h3 RSVP Online

        = form_for [@rsvp], :html => { :class => 'form-rsvp' } do |f|
          = f.label :name
          = f.text_field :name
          = f.label :status_accept do
            = f.radio_button :status, 'accept'
            I will celebrate with you in person
          = f.label :status_decline do
            = f.radio_button :status, 'decline'
            I will celebrate with you in spirit
          = f.label :status_decline do
            = f.radio_button :status, 'decline'
            %span.small (I just don't really want to celebrate at all...)
          = f.submit 'RSVP'



- # if user_signed_in?
= # link_to "Admin", '/admin'
- # else
= # link_to "Login", new_user_session_path