Create a new invitation

= form_for [:admin, @invite] do |f|
  = f.label :name
  = f.text_field :name
  = f.label :email
  = f.text_field :email
  = f.submit 'Send Invite'

= link_to "Cancel", admin_invites_path