.page-wrap.admin
  .page-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center

        %p Here is your invitation information!

        %ul
          %li
            Name: 
            = @rsvp.name
          %li
            Guests: 
            = @rsvp.guests || 'No Guests'
          %li
            Guests: 
            = @rsvp.diet
          %li
            Guests: 
            = @rsvp.songs
          %li
            Status: 
            = @rsvp.status

        = link_to "Back to list view", admin_rsvps_path
        %br
        = link_to "Delete", admin_rsvp_path, :method => :delete, :data => { :confirm => "Are you sure?" }