!!!
%html
  %head
    %title
      = "#{@page_title} | Stephen and Alex" || 'Stephen and Alex'
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700|Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    = stylesheet_link_tag '//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css'
    = javascript_include_tag '//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC-uKCcwL6atXSahxIqSiZOk1OhXLkbIzs&sensor=false'

    = csrf_meta_tags

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    %meta{:name => 'description', :content => @page_description || "Stephen asked. Alex said yes. On August 15th, they're getting together in that legally binding sense."}
  %body

    - if flash[:notice].present?
      .alert-wrap
        .container
          %p.alert.alert-success
            %button.close-alert
              %i.fa.fa-close
            = flash[:notice]
    - if flash[:alert].present?
      .alert-wrap
        .container
          %p.alert.alert-danger
            %button.close-alert
              %i.fa.fa-close
            = flash[:alert]
    - if flash[:success].present?
      .alert-wrap
        .container
          %p.alert.alert-success
            %button.close-alert
              %i.fa.fa-close
            = flash[:success]

    - if flash[:error].present?
      .alert-wrap
        .container
          %p.alert.alert-danger
            %button.close-alert
              %i.fa.fa-close
            = flash[:error]

    = render "shared/main_menu"

    = yield

    .footer-wrap
      .footer.container
        .row
          .col-sm-6.col-sm-offset-3.text-center
            &copy; 2015. Designed and developed by Stephen Brown and Alex Pankratz

    = javascript_include_tag 'application'
