!!!
%html
  %head
    %title
      = @page_title || 'WeddingInviteApp'
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700|Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC-uKCcwL6atXSahxIqSiZOk1OhXLkbIzs&sensor=false'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
  %body

    - if notice.present?
      %p.alert.alert-success
        = notice
    - if alert.present?
      %p.alert.alert-danger
        = alert
    - if flash[:success].present?
      %p.alert.alert-success
        = flash[:success]
        
    - if flash[:error].present?
      %p.alert.alert-danger
        = flash[:error]

    = render "shared/main_menu"

    = yield

    .footer-wrap
      .footer.container
        .row
          .col-sm-6.col-sm-offset-3.text-center
            &copy; 2015. Designed and developed by Stephen Brown and Alex Pankratz